.btn-primary{
    background: #ff9900;
    border: 0;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover{
    background: #be8125;
    
}

.btn-secondary{
    background: none;
    border-color: #173A56;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color:#173A56;
}

.btn-secondary:hover{
    background: none;
    color:#ff9900;
    
}

.hero h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.hero {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}